  <!-- Footer  -->
  <!-- Footer  -->
  <!-- Footer  -->
  <!-- Footer  -->
  <!-- Footer  -->
  <!-- Footer  -->
  <div class="divider"></div>

  <div class="section scrollspy" id="footer">
    <footer class="page-footer purple lighten-3 z-depth-3">
      <div class="container">
        <div class="row">
          <div class="col l6 s12">
            <h5 class="white-text">Company Bio</h5>
            <p class="grey-text text-lighten-4">
              something about company
            </p>


          </div>
          <div class="col l3 s12">
            <h5 class="white-text">Settings</h5>
          </div>
          <div class="col l3 s12">
            <h5 class="white-text">Connect</h5>
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container">
          Made by <a class="orange-text text-lighten-3" href="http://materializecss.com">Materialize</a>
        </div>
      </div>
    </footer>
  </div>


  <!-- Modal Structure -->
  <div id="modal1" class="modal">
    <div class="modal-content">
      <h4>Modal Header</h4>
      <p>A bunch of text</p>
    </div>
    <div class="modal-footer">
      <a href="#" class="modal-close waves-effect waves-green btn-flat">Agree</a>
      <a href="#" class="modal-close waves-effect waves-green btn-flat">Disagree</a>
    </div>
  </div>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="public/js/materialize.min.js"></script>
  <script src="public/js/init.js"> </script>
  <!-- Make sure you put this AFTER Leaflet's CSS -->
</body>
</html>