   <div class="section scrollspy teal lighten-4" id="contact">

     <div class="row">
       <div class="col s5 m5"></div>
       <div class="col s2 m2"> <img class="responsive-img circle" src="public/img/help.png">
       </div>
       <div class="col s5 m5"></div>
     </div>

     <div class="row">
       <p class="center-align"> No Worries If You Don't Have Time To Call </p>
     </div>
     <div class="row">
       <div class="col s3 m3"></div>
       <div class="col s6 m6">
         <div class="divider"></div>
       </div>
       <div class="col s3 m3"></div>
     </div>
     <div class="row">
       <p class="center-align purple-text text-darken-1">Please Allow Us To Reach You</p>
     </div>

     <div class="divider"></div>
     <div class="teal lighten-3">
       <div class="row">
         <form class="col s12">
           <div class="row">
             <div class="input-field col s12 m6">
               <i class="material-icons prefix">account_circle</i>
               <input id="full_name" type="text" class="validate">
               <label for="full_name">Full Name</label>
             </div>

             <div class="input-field col s12 m6">
               <i class="material-icons prefix">phone</i>
               <input id="telephone_number" type="tel" class="validate">
               <label for="telephone_number">Telephone</label>
             </div>

             <div class="input-field col s12 m6">
               <i class="material-icons prefix">phone_android</i>
               <input id="alternate_number" type="tel" class="validate">
               <label for="alternate_number">Alternate Number</label>
             </div>

             <div class="input-field col s12 m6">
               <i class="material-icons prefix">mail</i>
               <input id="email_address" type="email" class="validate">
               <label for="email_address">Email Address</label>
               <span class="helper-text" data-error="Please type a valid Email ID" data-success="right"></span>
             </div>

             <div class="input-field col s12 m6">
               <i class="material-icons prefix">add_location</i>
               <textarea id="full_address" class="materialize-textarea"></textarea>
               <label for="full_address">Full Address</label>
             </div>

             <div class="input-field col s12 m6">
               <i class="material-icons prefix">message</i>
               <textarea id="message" class="materialize-textarea"></textarea>
               <label for="message">Message for vendors...</label>
             </div>

           </div>
           <div class="row">
             <div class="col s3 m5"></div>
             <div class="col s6 m2">
               <button class="btn waves-effect waves-light" type="submit" name="action">Submit
                 <i class="material-icons right">send</i>
               </button>

             </div>
             <div class="col s3 m5"></div>

           </div>

         </form>
       </div>
     </div>

   </div>