<div class="col s12 m12 l12">
  <div id="searchTab">
    <div class="card purple lighten-4 z-depth-5">
      <div class="card-content">
        <div class="row">
          <div class="col s8 m8 l8">
            <span class="card-title black-text text-darken-1">
              Please Let Us Know...
            </span>
          </div>
          <div class="col s3 m3 l3 amber-text text-lighten-3">
            <div class="col offset-s11 offset-m11 offset-l11 s1 m1 l1">
              <a class="btn-floating pulse waves-effect waves-light purple modal-trigger" href="#modal1">
                <i class="material-icons">add_location</i></a>
            </div>
          </div>
        </div>
      </div>
      <div class="card-panel purple lighten-3">
        <div class="row">
          <form v-on:submit.prevent action="" method="post">
            <div class="input-field col s12" :class="mainTheme.stateTheme">
              <select name="state" id="states" v-model="statesValue" class="browser-default purple lighten-3">
                <option value="" disabled selected>Choose States You are searching in</option>
                <option :value="state.StatesName" v-for="state in states">{%% state.StatesName %%}</option>
              </select>
            </div>

            <div class="col s12 m6 l6" v-if="showLocations">
              <div class="chips-districts">
                <input type="text" name="searchlocation" id="searchlocation" class="browser-default purple lighten-3" />
              </div>
            </div>

            <div class="col s12 m12 l12" v-if="showServices">
              <div class="chips-searchItem">
                <input type="text" name="searchServices" id="searchServices" class="browser-default purple lighten-3" />
              </div>
            </div>

            <div class="col offset-s1 offset-m5 offset-l5" v-if="showBtns">
              <button class="btn waves-effect waves-light" type="submit" @click="searchformSubmit" name="action">
                Submit
                <i class="material-icons left">location_searching</i>
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>