{{ template "_master_header.html" . }}
{{ template "_home_nav.html" . }}
{{ template "_home_sidenav.html" . }}
<div class="divider"></div>
<div class="divider"></div>

{{ template "_home_intro.html" . }}

<div class="divider"></div>
<div class="section scrollspy" id="search">
  <div class="row">

    {{ template "_home_search.html" . }}
    {{ template "_home_map.html" . }}
  </div>
</div>

<div class="divider"></div>

{{ template "_home_about.html" . }}

<div class="divider"></div>

{{ template "_home_contact.html" . }}

{{ template "_master_footer.html" . }}