/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

 @import url('https://fonts.googleapis.com/css?family=Alex+Brush|Cinzel+Decorative|Cookie|Dancing+Script|Great+Vibes|Libre+Baskerville|Spirax|Kaushan+Script|Lobster|Monoton|Pacifico|Playball|Satisfy|Tangerine');

.heading{
  font-family: 'Cinzel Decorative', serif;
  font-size: 24px !important;
  text-shadow: 4px 4px 4px #aaa;
}

ul.dropdown-content.select-dropdown li span {
  color: rgb(163, 9, 252) ; /* no need for !important :) */
  background-color: rgba(231, 250, 250, 0.87)
}
.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

.input-field.col label{
  color: white;
}
select.browser-default {
  position: static;
  pointer-events: all;
  opacity: 1;
  background-color: #e1bee7 !important;
  width: 100% !important;
  padding: 5px !important;
  border: 1px solid #e1bee7 !important;
  border-radius: 2px !important;
  height: 3rem !important;
}

#mapid { height: 411px; }